<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="lovo.j135_2.netctoss.rightmag.mapper.RoleMapper">
	
	
	<insert id="saveBatchRightToRole" >
		insert into t_right_role(fk_role_id,fk_right_id) values
		<foreach collection="role.rights" item="right" separator=",">
			(#{role.id},#{right.id})
		</foreach>
	</insert>

	
</mapper>